:root {

  --primaryColor: #550C20;
  --secondaryColor: #2A050C;
  --teriaryColor: #880f26;

  --font-poppins: 'Poppins', sans-serif;
  --font-roboto-serif: 'Roboto Serif', serif;
  

}


.accordionItem {
  border: none;
}

.accordion-button {
  border-radius: unset;
  background: var(--primaryColor);
  width: 100%;
  color: #ffffff;
}

.accordion-button:hover {
  background: var(--teriaryColor);
}

.accordion-button:not(.collapsed)::after, .accordion-button::after{
  filter: brightness(0) invert(1);
}

.accordion-button:focus {
  box-shadow: none;
  border-color: transparent;
}

.accordion-button:not(.collapsed) {
  background: var(--teriaryColor);
  color: #ffffff;
}



.accordionCollapse {
  background: var(--secondaryColor);
  color: #ffffff;
}

.accordionBody{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.servicesOffer{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}