:root {
  --background: #2A0B12;

  --primaryColor: #550C20;
  --secondaryColor: #1A050C;
  
}

.contactForm{
    background: var(--primaryColor);
    width: 100%;
    max-width: 500px;
}

.contactInput, .contactTextarea, .contactSubmit{
    background: var(--background);
    border: none;
}