

.hero-section {
  position: relative;
  max-width: 1280px;
  height: 585px;
  background: url('/heropageimg.jpg');
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
}
