

.navAnim {
  position: relative;
  padding-bottom: 4px;
  transition: color 0.3s ease;
}


.navAnim::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: white;
  transition: width 0.3s ease;
}


.navAnim:hover::after {
  width: 100%;
}


.activeLink {
  color: white !important;
  font-weight: 600;
}


.activeLink::after {
  width: 100%;
}
