:root {

  --primaryColor: #550C20;
  --secondaryColor: #2A050C;
  --tertiaryColor: #880f26;

  --font-poppins: 'Poppins', sans-serif;
  --font-roboto-serif: 'Roboto Serif', serif;
  

}


.accordionItem {
  border: none;
}

.accordionButton {
  border-radius: unset;
  background: var(--primaryColor) !important;
  width: 100%;
  color: #ffffff;
}

.accordionButton:hover {
  background: var(--tertiaryColor) !important;
}

.accordionButton:not(.collapsed) {
  background: var(--tertiaryColor) !important;
  color: #ffffff;
}


/* .accordionButton:hover {
  background: var(--tertiaryColor) !important;
}

.accordionButton:not(.collapsed) {
  background: var(--tertiaryColor) !important;
  color: #ffffff;
}
 */

.accordionCollapse {
  background: var(--secondaryColor) !important;;
  color: #ffffff;
}



/* .accordionCollapse {
  background: var(--secondaryColor) !important;
  color: #ffffff;
} */

.accordionBody{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.servicesOffer{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}