
:root {
  --background: #2A0B12;

  --primaryFont: #ffffff;
  --secondaryFont: #000000;

  --primaryColor: #550C20;
  --secondaryColor: #1A050C;
  --teriaryColor: #880f26;

  --font-poppins: 'Poppins', sans-serif;
  --font-roboto-serif: 'Roboto Serif', serif;
  

}

.font-fam{
  font-family: var(--font-roboto-serif);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background: var(--background);
  min-height: 100vh;
}

a {
  text-decoration: none;
}

button {
  background: var(--primaryColor);
  border-radius: 100px;
}

button:hover{
  background: var(--teriaryColor);
}

.service-icon{
  width: clamp(20px, 4vw, 40px);
  height: auto;  
}

.blur-effect {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}


